@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background-color: #1f2029;
    min-height: 100vh;
    overflow-x: hidden;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    position: relative;
    max-width: calc(100% - 40px);
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}


.sectionFluid {
    position: relative;
    width: 100%;
    display: block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    visibility: hidden;
    position: absolute;
}

.color-Btn:checked + label,
.color-Btn:not(:checked) + label {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    transition: all 200ms linear;
    border-radius: 4px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 12px 35px 2px rgba(16, 39, 112, 0.25);
    z-index: 10;
    background-color: gold;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
}

.color-Btn:checked + label {
    border-color: #434343;
    transform: scale(1.1);
}

label.firstColor {
    margin-left: 500px;
    background-image: url("./Images/color1.jpg");
}

label.color-2 {
    background-image: url("./Images/color2.jpg");
}

label.color-3 {
    background-image: url("./Images/color3.jpg");
}

label.color-4 {
    background-image: url("./Images/color4.jpg");
}

label.color-5 {
    background-image: url("./Images/color5.jpg");
}

label.color-6 {
    background-image: url("./Images/color6.jpg");
}

.img-wrap{
    position: absolute ;
    top: 100px;
    left: 0;
    height: 410px;
    width: 500px;  
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./Images/chair1.png);
    opacity: 0;
}
