.box {
    height: 200px;
    width: 200px;
    border: 2px solid red;
    display: inline-block;
    font-weight: 900;
    box-sizing: border-box;
    margin: 5px;
  }

  #box1 {
    overflow: visible;
  }

  #box2 {
    overflow: hidden;
  }
 
  #box3 {
    height: 400px;
    width: 400px;
    overflow: auto;
  }

