h1{
    font-style: italic;
    background-color: beige;
    color: orange;
}

p{
    background-color: aqua;
}

h2{
    font-style: italic;
    background-color: rgb(243, 243, 46);
    color: pink;
}